@page "/myteapp"

@using DotNetCoreMyTeApp.Data
@inject MyTeService myTeService

<PageTitle>My Time Tracking</PageTitle>

<h1>MY Time Tracking</h1>

@code{
    private MyTeModel? userDefaultTeEntry;

    protected override async Task OnInitializedAsync()
    {
        userDefaultTeEntry = await myTeService.GetMyTeDataByUserForInput("aUser");
    }
}